    {% load static %}
<div class="header">
    <div class="logo">
        <img src="{%  static 'image/UniConnect.png' %}" alt="UniConnect Logo">
        <span class="company-name">UniConnect</span>
    </div>
    <div class="menu">
        <div class="menu-item"><a class="anchor" style="text-decoration:none"  href="{% url 'profile'%}">Home</a></div>
        <div class="menu-item"><a class="anchor" href="{% url 'ideasHub'%}">Ideas Hub</a></div>
        <div class="menu-item"><a class="anchor" href="{% url 'templatesLib'%}">Templates Library</a></div>
        <div class="more-dropdown">
         <!--   <div class="menu-item">
                <img src="profile_icon.png" alt="Profile Icon">
                
            </div>  -->
            <div class="more-dropdown-content">
                <a href="{% url 'settings'%}" class=></a>
                <a href="#" class=></a>
                <a href="{% url 'logout' %}" ></a>
            </div>
        </div>
        <div class="menu-item more-dropdown">
            More
            <div class="more-dropdown-content">
                <a href="{% url 'settings'%}" class="dropdown-item">Settings</a>
                <a href="#" class="dropdown-item">Privacy Policy</a>
                <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
            </div>
        </div>
        <button class="search-people">Search People</button>
    </div>
</div>
