<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UniConnect</title>
 {% load static %}
<link rel = "stylesheet" href = "{% static 'css/home.css' %}">
</head>
<body>
<div class="header">
  <div class="logo">
    <img src="{%  static 'image/UniConnect.png' %}" alt="UniConnect Logo">
    <h1>UniConnect</h1>
  </div>
  <div class="menu">
    <button>Home</button>
    <a href="../ideasHub/" class="ideas-hub-button">Ideas Hub</a>
    <a href="../templatesLib/" class="template-library-button">Templates Library</a>
    <!-- <button>More</button> -->
    <a href="../logIn/" class="login-button">Login</a>
    <div class="get-started-container">
      <a href="../signUp/" class="get-started">Get Started</a>
    </div>
  </div>
</div>
<div class="imagediv" >

    <img src="{%  static 'image/homepage.png' %}"  alt="bg"  >
</div>
<div class="tagline">Connect, Collaborate, Catalyze</div>
</body>
</html>