{% extends "base/base.html" %}

{% load static %}
{% block content %}

<div class="bodyIdeas">


<div class="title">Ideas Hub</div>

<div class="idea-box">
  <div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" style="width: 18rem;">
    <div class="card-body">
      <div class="user-info">
        <img src="user1.jpg" alt="User1">
        <div class="user-name">User1</div>
      </div>
      <h5 class="card-title idea-title">Idea Title 1</h5>
      <p class="card-text idea-description">Description of Idea 1 goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="card-body action-buttons">
      <a href="#" class="card-link">Open</a>
      <a href="#" class="card-link">Like</a>
    </div>
  </div>
  <img src="idea1.jpg" class="idea-image card-img-top" alt="Idea 1">
</div>

<div class="idea-box">
  <div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" style="width: 18rem;">
    <div class="card-body">
      <div class="user-info">
        <img src="user2.jpg" alt="User2">
        <div class="user-name">User2</div>
      </div>
      <h5 class="card-title idea-title">Idea Title 2</h5>
      <p class="card-text idea-description">Description of Idea 2 goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="card-body action-buttons">
      <a href="#" class="card-link">Open</a>
      <a href="#" class="card-link">Like</a>
    </div>
  </div>
  <img src="idea2.jpg" class="idea-image card-img-top" alt="Idea 2">
</div>

<div class="idea-box">
  <div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" style="width: 18rem;">
    <div class="card-body">
      <div class="user-info">
        <img src="user3.jpg" alt="User3">
        <div class="user-name">User3</div>
      </div>
      <h5 class="card-title idea-title">Idea Title 3</h5>
      <p class="card-text idea-description">Description of Idea 3 goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="card-body action-buttons">
      <a href="#" class="card-link">Open</a>
      <a href="#" class="card-link">Like</a>
    </div>
  </div>
  <img src="idea3.jpg" class="idea-image card-img">
</div>

<!-- Bootstrap JS (Optional) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</div>

{% endblock %}