{% extends "base/base.html" %}

{% load static %}
{% block content %}

<div class="bodyIdeas">


<div class="title">Ideas Hub</div>

<div class="idea-box">
  <div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" style="width: 18rem;">
    <div class="card-body">
      <div class="user-info">
        <img src="{%  static 'image/tonny.jpg' %} " alt="User1">
        <div class="user-name">Tonny</div>
      </div>
      <h5 class="card-title idea-title">MindSync </h5>
      <p class="card-text idea-description"> Mental wellness app that connects users with licensed therapists for online counseling sessions.</p>
    </div>
    <div class="card-body action-buttons">
      <a href="#" class="card-link">Open</a>
      <a href="#" class="card-link">Save</a>
    </div>
  </div>
  <img src="{%  static 'image/2. mind for profile html.jpg' %} " class="idea-image card-img-top" alt="Idea 1">
</div>

<div class="idea-box">
  <div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" style="width: 18rem;">
    <div class="card-body">
      <div class="user-info">
        <img src="{%  static 'image/tonny.jpg' %} " alt="User2">
        <div class="user-name">Tonny</div>
      </div>
      <h5 class="card-title idea-title">CodeCrafters</h5>
      <p class="card-text idea-description">A coding challenge assignment where students develop small-scale software applications to solve real-world problems</p>
    </div>
    <div class="card-body action-buttons">
      <a href="#" class="card-link">Open</a>
      <a href="#" class="card-link">Save</a>
    </div>
  </div>
  <img src="{%  static 'image/4. geo for profile html.jpg' %} " class="idea-image card-img-top" alt="Idea 2">
</div>

<div class="idea-box">
  <div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" style="width: 18rem;">
    <div class="card-body">
      <div class="user-info">
        <img src="{%  static 'image/tonny.jpg' %} " alt="User3">
        <div class="user-name">Tonny</div>
      </div>
      <h5 class="card-title idea-title">Geometry in Action</h5>
      <p class="card-text idea-description">Applications of geometry in practical scenarios </p>
    </div>
    <div class="card-body action-buttons">
      <a href="#" class="card-link">Open</a>
      <a href="#" class="card-link">Save</a>
    </div>
  </div>
  <img src="{%  static 'image/6. data for profile html.png' %} " class="idea-image card-img">
</div>


 {% for ideaL in ideasL %}
<div class="idea-box">
  <div class="card p-3 text-dark bg-light border border-light rounded-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title idea-title">{{ ideaL.project_title }}</h5>
      <p class="card-text idea-description">{{ ideaL.project_description }}</p>
    </div>
  </div>

  {% if ideaL.project_pic %}

      <img src="{{ ideaL.project_pic.url }}" class="idea-image card-img-top" alt="{{ ideaL.title }}">

  {% endif %}

</div>
{% endfor %}

<!-- Bootstrap JS (Optional) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</div>

{% endblock %}