
{% extends "base/base.html" %}

{% load static %}
{% block content %}

<div class="profile-body">


<div class="profile-header">

  <div class="top-section">

    <div class="cover-container">
      <img class="cover-pic" src="{%  static 'image/tonny_cover.jpg' %}"  alt="Cover Picture">
      <img class="profile-pic" src="{%  static 'image/tonny.jpg' %}" alt="Profile Picture">
    </div>
    <div class="user-info">
      <h1>Tonny</h1>
      <p>Student</p>
      <p>Welcome to my profile</p>
      <a href="../uploadProject/" class="follow-button">Upload</a>
      <a href="#" class="view-templates-button">View Templates</a>
    </div>
  </div>
</div>

<div class="project-listings">
  <div class="project-box">
    <img class="demo-pic" src="{%  static 'image/1. eco for profile html.jpeg' %}" alt="Demo Pic">
    <div class="project-title">Eco Track</div>
    <div class="project-description">Through features like carbon footprint calculation, waste reduction tips, and eco-friendly product suggestions, users can easily adopt more sustainable habits.</div>
    <div class="button-container">
      <a href="#" class="project-button">Open</a>
      <a href="../likedProject/" class="project-button like-button">Like</a>
    </div>
  </div>
  <div class="project-box">
    <img class="demo-pic" src="{%  static 'image/2. mind for profile html.jpg' %} "alt="Demo Pic">
    <div class="project-title">MindSync</div>
    <div class="project-description"> Mental wellness app that connects users with licensed therapists for online counseling sessions .</div>
    <div class="button-container">
      <a href="#" class="project-button">Open</a>
      <a href="../likedProject/" class="project-button like-button">Like</a>
    </div>
  </div>
  <div class="project-box">
    <img class="demo-pic" src="{%  static 'image/3.code for profile html.jpg' %} " alt="Demo Pic">
    <div class="project-title">CodeCrafters</div>
    <div class="project-description">A coding challenge assignment where students develop small-scale software applications to solve real-world problems.</div>
    <div class="button-container">
      <a href="#" class="project-button">Open</a>
      <a href="#" class="project-button like-button">Like</a>
    </div>
  </div>
  <!-- Add three more project boxes -->
  <div class="project-box">
    <img class="demo-pic" src="{%  static 'image/4. geo for profile html.jpg' %} " alt="Demo Pic">
    <div class="project-title"> Geometry in Action</div>
    <div class="project-description">Applications of geometry in practical scenarios .</div>
    <div class="button-container">
      <a href="#" class="project-button">Open</a>
      <a href="#" class="project-button like-button">Like</a>
    </div>
  </div>
  <div class="project-box">
    <img class="demo-pic" src="{%  static 'image/5.literacy for profilr html.png' %} " alt="Demo Pic">
    <div class="project-title">Literary Analysis Lab</div>
    <div class="project-description">In-depth analyses of literary works, exploring themes, characters, and narrative techniques .</div>
    <div class="button-container">
      <a href="#" class="project-button">Open</a>
      <a href="#" class="project-button like-button">Like</a>
    </div>
  </div>
  <div class="project-box">
    <img class="demo-pic" src="{%  static 'image/6. data for profile html.png' %} " alt="Demo Pic">
    <div class="project-title">DataSphere</div>
    <div class="project-description">Project involves designing an Entity-Relationship Diagram (ERD).</div>
    <div class="button-container">
      <a href="#" class="project-button">Open</a>
      <a href="#" class="project-button like-button">Like</a>
    </div>
  </div>
</div>
</div>

{% endblock %}