  template-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #87CEEB); /* White, Sky Blue gradient */
    color: #333; /* Text color */
  }
  .headerTemplate {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black; /* Changed title color to solid black */
  }
  .icon {
    margin-left: 10px;
  }
  .templates-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .template-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; /* Adjusted width */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns items evenly along the main axis */
  }
  .template-details {
    margin-left: 20px;
  }
  .template-title {
    font-size: 24px;
    font-weight: bold;
    color: black; /* Changed title color to solid black */
    margin-bottom: 10px;
  }
  .template-description {
    color: #666;
    margin-bottom: 10px;
  }
  .action-buttons {
    text-align: center;
    margin-top: auto;
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  .action-buttons a {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  .vector-design img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  .filter-dropdown {
    text-align: right;
    margin-bottom: 20px;
  }
  .filter-dropdown select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
